body {
	font-family: "SF Pro Rounded", system-ui, san-serif;
	font-size: 13px;
}

h2, h1 {
	margin-bottom: 0;
}

h1.title {
	display: flex;
	justify-content: space-between;
}

h1 time {
	font-family: ui-rounded;
	text-align: right;
	min-width: 4em; 
}

h1.countdown {
	text-align: center;
}

.emoji {
	background: white;
	/* background: rgba(255, 255, 255, 0.8); */
	border-radius: 1em;
	padding: 0.2em;
	text-align: center;
}

h1 ~ time {
	font-size: smaller;
}

/* table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 0.5em;
}

table {
	border-collapse: collapse;
	border-radius: 25px;
	text-align: center;
	margin-bottom: 2em;
} */

/* ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
ul li {
	flex-direction: column;
	margin-right: 1rem;
	margin-bottom: 1rem;
	position: relative;
	width: calc(50% - 1rem);
	background: linear-gradient(45deg, #281dd4, #a42bff);
	border-radius: 10px;
	padding: 1rem;
	font-size: 1.25rem;
	box-sizing: border-box;
	font-variation-settings: 'wght' 600;
	height: min-content;
} */


ul {
	list-style-type: none;
	padding: 0 2em;
	/* display: block; */
	/* display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: column; */	
	
	/* column-width: 10em; */
	/* flex-wrap: wrap; */
	/* break-inside: avoid; */
	/* display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: masonry; */
	
	display: grid;
	grid-gap: 2em;
	grid-template-columns: repeat( auto-fill, minmax( 40em, 1fr ) ); 
	/* grid-template-columns: 3; */
	grid-template-rows: masonry;
	/* width: 100%; */
	/* vertical-align: top; */
	/* margin: 0 auto; */
	
	/* column-count: 2;
	column-gap: 1em;
	width: min-content; */
	}
	
	/* .core, .core2 {
	font-weight: bold;
	} */
	
	ul li {
	border-radius: 2em;
	padding: 1em 2em;
	/* margin: 1em; */
	/* display: block; */
	/* display: flex; */
	height: min-content;
	display: inline-block;
	/* width: 100%; */
	/* margin: 0 0 1em; */
	/* width: 100%; */
	/* vertical-align: top; */
	color: white;
	/* max-width: 40em; */
	margin: 1em;
	/* margin: 0 auto; */
	width: 45em;
	/* min-width: 40em; */
	/* width: max-content; */
	/* max-width: 40em; */
	box-shadow: 0 0.5em 2em rgba(30, 30, 30, 0.3);
	transition: all 0.15s ease-in-out;
	}

ul li:hover {
	transform: scale(1.04);
}

ul li {
	/* background: linear-gradient(rgb(253, 230, 138), rgb(252, 211, 77), rgb(251, 191, 36)); */
	background: linear-gradient(#ffd16d, #ffbd2e);

}

ul li.lunch {
	background: linear-gradient(rgb(56, 189, 248), rgb(59, 130, 246));
}

ul li.closed {
	background: #e53935;
	background: linear-gradient(to bottom, #e35d5b, #e53935); 
	/* background: linear-gradient(#ff908b, #ff6159); */
	background-clip: padding-box; 
}

ul li.open {
	background: #76b852;  /* fallback for old browsers */
	/* background: linear-gradient(to bottom, #8DC26F, #76b852); */
	background: linear-gradient(#69d979, #28c941);
}

li.ad {
	background: linear-gradient(rgb(196, 181, 253), rgb(167, 139, 250));
	text-align: center;
}

li.ad img {
	height: 400px;
	padding: 1em;
}

table .time {
	text-align: center;
	/* font-family: ui-monospace; */
	font-variant-numeric: tabular-nums;
	/* min-width: minmax(20em, max-content); */
	min-width: max-content;
	font-family: ui-rounded;
}

/* table.closed tr th, table.closed tr td {
	background: red;
}

table.open tr th, table.open tr td {
	background: green;
} */

tbody {
	background-clip: padding-box;
}

/* .time {
	display: flex;
}

.time span {
	flex: 1;
}

.time span:first-of-type {
	text-align: right;
	padding-right: 5px;
}

.time span:last-of-type {
	padding-left: 5px;
} */

table {
	background-clip: content-box;
	border-collapse: separate;
	border-spacing: 0;
	margin-bottom: 2em;
	border-radius: 1em;
	color: white;
	/* width: 50em; */
	/* width: 60em; */
	/* border: 3px solid white; */
	/* border-color: white; */
	overflow: hidden;
	width: 100%;
	box-shadow: 0 0.25em 1em rgba(30, 30, 30, 0.15);

}

/* table.open tr th, table.open tr td { */
table.open {
	/* background: #76b852;  /* fallback for old browsers */ */
	/* background: -webkit-linear-gradient(to top, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */ */
	/* background: linear-gradient(to top, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
	/* background-clip: padding-box; */
	/* background-clip: padding-box; */

}

table.closed {
	background-clip: padding-box;
	/* background: #e53935; */
	/* background: -webkit-linear-gradient(to bottom, #e35d5b, #e53935);
	background: linear-gradient(to bottom, #e35d5b, #e53935); */
	background-clip: padding-box; */
}


table td, table th{
	/* min-width: 5em; */
	/* max-width: 7em; */
	/* min-width: 10em; */
	
}

table th {
	text-align: center;
}

table tr th,
table tr td {
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	padding: 0.75em;
	
}

table tr td:last-child, table tr th:last-child {
	border-right-width: 3px;
}

table tr:last-child td, table tr:first-child th {
	border-bottom-width: 3px;
}

table tr th:first-child,
table tr td:first-child {
	border-left: 3px solid white;
	max-width: 9em;
	font-weight: bold;
}

table tr th {
	/* background: #eee; */
	border-top: 3px solid white;
	/* text-align: left; */
}

/* tbody tr:nth-of-type(even) td:not(:first-child), */

thead tr th:not(:first-child) {
	background: rgba(0, 0, 0, 0.1);
}

tbody tr td:first-child, thead tr th:first-child {
	border-right-width: 3px;
	background: rgba(0, 0, 0, 0.1);
}

tr.now td {
	background: rgba(255, 255, 255, 0.25) !important;
	font-weight: bold;
	/* color: black; */
}

/* top-left border-radius */
table tr:first-child th:first-child {
	border-top-left-radius: 1em;
	background-clip: padding-box;
}

/* top-right border-radius */
table tr:first-child th:last-child {
	border-top-right-radius: 1em;
	background-clip: padding-box;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
	border-bottom-left-radius: 1em;
	background-clip: padding-box;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
	border-bottom-right-radius: 1em;
	background-clip: padding-box;
}

