body {
	font-family: "SF Pro Rounded", system-ui, san-serif;
}

/* table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 0.5em;
}

table {
	border-collapse: collapse;
	border-radius: 25px;
	text-align: center;
	margin-bottom: 2em;
} */

.core, .core2 {
	font-weight: bold;
}

table .time {
	text-align: center;
	/* font-family: ui-monospace; */
	font-variant-numeric: tabular-nums;
}

/* .time {
	display: flex;
}

.time span {
	flex: 1;
}

.time span:first-of-type {
	text-align: right;
	padding-right: 5px;
}

.time span:last-of-type {
	padding-left: 5px;
} */

table {
	border-collapse: separate;
	border-spacing: 0;
	margin-bottom: 2em;
}

table tr th,
table tr td {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding: 0.75em;
}

table tr th:first-child,
table tr td:first-child {
	border-left: 1px solid #bbb;
}

table tr th {
	background: #eee;
	border-top: 1px solid #bbb;
	text-align: left;
}

/* top-left border-radius */
table tr:first-child th:first-child {
	border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
	border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}